body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 102px;
}
.hours {
    color: green;
}

.minutes {
    color: goldenrod;
}
.seconds {
    color: red;
}